<div class="container">
<h1>sign up</h1>

<!-- signup form -->
<form action="/signup/post" method="post">
    <!-- name input -->
    <div class="mb-3">
        <label for="nameInput" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="nameInput" required>
    </div>
    <!-- surname input -->
    <div class="mb-3">
        <label for="surnameInput" class="form-label">Surname</label>
        <input type="text" name="surname" class="form-control" id="surnameInput" required>
    </div>
    <!-- email input -->
    <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="emailInput" required>
    </div>
    <!-- password input -->
    <div class="mb-3">
        <label for="passworInput" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="passworInput" required>
    </div>
    <button class="btn btn-primary mb-3">Submit</button>
</form>
</div>